.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}

.button {
    all: unset;
    cursor: pointer;
    background-color: var(--dark-grayish);
    color: var(--white);
    border-radius: 5px;
    transition: 0.2s all;

    /*Обводка вокруг элемента, не влияющая на его размеры.*/
    outline: none;
}

.button:hover, .active {
    color: var(--dark-grayish);
    background-color: var(--light-grayish);
}

.input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: right;
    border-radius: 5px;
    background-color: var(--very-light-grayish);
    font-size: 16px;
}

.input:focus {
    border: 2px solid var(--dark-green);
}

@media (max-width: 380px) {
    .block {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 50px);
    }
}